:root {
  --clr-neon: hsl(317 100% 54%);
  --clr-bg: hsl(323 21% 16%);
}

body {
  min-height: 100vh;
  display: grid;
  background: var(--clr-bg);
  font-family: "Balsamiq Sans", cursive;
  color: var(--clr-neon);
  padding-right: 10rem;
  font-size: x-large;
}

h1{
  text-align: center;
  size: 10rem;
}

h2 {
  text-align: center;
}
